{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- partial -->
        <div class="flash-news-banner">
          <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <a href="{% url 'index' %}" class="badge badge-dark mr-3">Flash News</a>
              </div>
              <div class="d-flex">
                <span class="mr-3 text-danger">Shanba, July 16, 2022</span>
                <span class="text-danger">30°C,Tashkent</span>
              </div>
            </div>
          </div>
        </div>
        <div class="content-wrapper">

          <div class="container">
            <div class="row" data-aos="fade-up">
              <div class="col-xl-8 stretch-card grid-margin">
                {% for newsfor in object_list %}
                {% if forloop.counter0 < 1 %}
                <div class="position-relative">
                  {% if newsfor.image %}
                  <img
                    src="{{ newsfor.image.url }}"
                    alt="banner"
                    class="img-fluid"
                  />
                  <div class="banner-content">
                    <div class="badge badge-danger fs-12 font-weight-bold mb-3">
                      global news
                    </div>
                    <h1 class="mb-0"></h1>
                    <h1 class="mb-2">
                     <a href="{% url 'newsfor_detail' news_id=newsfor.id %}" > {{ newsfor.title }} </a>
                    </h1>
                    <div class="fs-12">
                      <span class="mr-2">Photo </span>10 Minutes ago
                    </div>
                  </div>
                  {% endif %}
                </div>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col-xl-4 stretch-card grid-margin">
                <div class="card bg-dark text-white">
                  {% for newsfor in object_list %}
                  {% if 2 <= forloop.counter0  and 4 >= forloop.counter0 %}
                  <div class="card-body">
                    <h2>Ohirgi yangiliklar</h2>

                    <div
                      class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between">
                      <div class="pr-3">
                        <h5>{{ newsfor.title }}</h5>
                        <div class="fs-12">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </div>
                      </div>
                      <div class="rotate-img">
                        {% if newsfor.image %}
                        <img
                          src="{{ newsfor.image.url }}"
                          alt="thumb"
                          class="img-fluid img-lg"
                        />
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  {% endif %}
                  {% endfor%}
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-lg-3 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h2>Category</h2>
                    <ul class="vertical-menu">
                      <li><a href="{% url 'category' category_id=1 %}">O'ZBEKISTON</a></li>
                      <li><a href="{% url 'category' category_id=2 %}">JAHON</a></li>
                      <li><a href="{% url 'category' category_id=3 %}">IQTISOD</a></li>
                      <li><a href="{% url 'category' category_id=4 %}">JAMIYAT</a></li>
                      <li><a href="{% url 'category' category_id=6 %}">FAN-TEXNIKA</a></li>
                      <li><a href="{% url 'category' category_id=5 %}">SPORT</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 stretch-card grid-margin">
                <div class="card">
                {% for newsfor in object_list %}
                {% if 5 <= forloop.counter0  and 7 >= forloop.counter0 %}
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                          <div class="rotate-img">
                            {% if newsfor.image %}
                            <img
                              src="{{ newsfor.image.url }}"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          {% endif %}
                          <div class="badge-positioned">
                            <span class="badge badge-danger font-weight-bold"
                              >Shock news</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-8  grid-margin">
                        <h2 class="mb-2 font-weight-600">
                         {{ newsfor.title }}
                        </h2>
                        <div class="fs-13 mb-2">
                          <span class="mr-2">Photo </span>10 Minutes ago
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor%}
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-sm-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="card-title">
                          Top News
                        </div>
                        <div class="row">
                          <div class="col-sm-6 grid-margin">
                            {% for newsfor in object_list %}
                            {% if 8 <= forloop.counter0  and 10 >= forloop.counter0 %}
                            <div class="position-relative">
                              <div class="rotate-img">
                                {% if newsfor.image %}
                                <img
                                  src="{{ newsfor.image.url }}"
                                  alt="thumb"
                                  class="img-fluid"
                                />
                              </div>
                              {% endif %}
                              <div class="badge-positioned w-90">
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <span
                                    class="badge badge-danger font-weight-bold"
                                    >Lifestyle</span
                                  >
                                  <div class="video-icon">
                                    <i class="mdi mdi-play"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                            {% endfor%}
                          </div>

                          <div class="col-sm-6 grid-margin">
                              {% for newsfor in object_list %}
                              {% if 11 <= forloop.counter0  and 13 >= forloop.counter0 %}
                            <div class="position-relative">
                              <div class="rotate-img">
                                 {% if newsfor.image %}
                                <img
                                  src="{{ newsfor.image.url }}"
                                  alt="thumb"
                                  class="img-fluid"
                                />
                              </div>
                              {% endif %}
                              <div class="badge-positioned w-90">
                                <div
                                  class="d-flex justify-content-between align-items-center"
                                >
                                  <span
                                    class="badge badge-danger font-weight-bold"
                                    >Dunyo Yangiliklari</span
                                  >
                                  <div class="video-icon">
                                    <i class="mdi mdi-play"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                             {% endif %}
                             {% endfor%}
                          </div>
                        </div>
                      </div>                      
                      <div class="col-lg-4">
                            {% for newsfor in object_list %}
                            {% if 14 <= forloop.counter0  and 17 >= forloop.counter0 %}
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="card-title">
                            Oxirgi Rasmlar
                          </div>
                          <p class="mb-3">See all</p>
                        </div>
                        <div
                          class="d-flex justify-content-between align-items-center border-bottom pb-2">
                          <div class="div-w-80 mr-3">
                            <div class="rotate-img">
                              {% if newsfor.image %}
                              <img
                                src="{{ newsfor.image.url }}"
                                alt="thumb"
                                class="img-fluid"
                              />
                            </div>
                            {% endif %}
                          </div>
                          <h3 class="font-weight-600 mb-0">
                            {{ newsfor.title }}
                          </h3>
                        </div>
                             {% endif %}
                             {% endfor%}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xl-6">
                          {% for newsfor in object_list %}
                          {% if 18 <= forloop.counter0 and 19 > forloop.counter0 %}
                        <div class="card-title">
                          O'zbekiston
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-8 col-sm-6">
                            <div class="rotate-img">
                              {% if newsfor.image %}
                              <img
                                src="{{ newsfor.image.url }}"
                                alt="thumb"
                                class="img-fluid"
                              />
                            </div>
                            {% endif %}
                            <p class="fs-13 mb-1 text-muted">
                              <span class="mr-2">Photo </span>10 Minutes ago
                            </p>
                            <p class="my-3 fs-15">
                              {{ newsfor.title }}
                            </p>
                            <a href="{% url 'category' category_id=1 %}" class="font-weight-600 fs-16 text-dark"
                              >Read more</a
                            >
                          </div>
                          <div class="col-xl-6 col-lg-4 col-sm-6">
                            {% for newsfor in object_list %}
                            {% if 30 <= forloop.counter0  and 33 >= forloop.counter0 %}
                            <div class="border-bottom pb-3 mb-3">
                              <h3 class="font-weight-600 mb-0">
                                {{ newsfor.title }}
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                            {% endif %}
                            {% endfor%}
                          </div>
                        </div>
                         {% endif %}
                         {% endfor%}
                      </div>

                      <div class="col-xl-6">
                        <div class="row">
                          <div class="col-sm-6">
                            {% for newsfor in object_list %}
                            {% if 19 <= forloop.counter0  and 20 >= forloop.counter0 %}
                            <div class="card-title">
                              Dunyo yangiliklari
                            </div>
                            <div class="border-bottom pb-3">
                              <div class="rotate-img">
                                {% if newsfor.image %}
                                <img
                                  src="{{ newsfor.image.url }}"
                                  alt="thumb"
                                  class="img-fluid"
                                />
                              </div>
                                {% endif %}
                              <p class="fs-16 font-weight-600 mb-0 mt-3">
                                {{ newsfor.title }}
                              </p>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                              {% endif %}
                              {% endfor%}
                          </div>
                          <div class="col-sm-6">
                            {% for newsfor in object_list %}
                            {% if 21 <= forloop.counter0 and 22 >= forloop.counter0 %}
                            <div class="card-title">
                              Tezkor xabarlar
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="border-bottom pb-3">
                                  <div class="row">
                                    <div class="col-sm-5 pr-2">
                                      <div class="rotate-img">
                                        {% if newsfor.image %}
                                        <img
                                          src="{{ newsfor.image.url }}"
                                          alt="thumb"
                                          class="img-fluid w-100"
                                        />
                                      </div>
                                      {% endif %}
                                    </div>
                                    <div class="col-sm-7 pl-2">
                                      <p class="fs-16 font-weight-600 mb-0">
                                        {{ newsfor.title }}
                                      </p>
                                      <p class="fs-13 text-muted mb-0">
                                        <span class="mr-2">Rasm </span>10 daqiqa oldin
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- main-panel ends -->
        <!-- container-scroller ends -->

        <!-- partial:partials/_footer.html -->
       {% endblock content %}